<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> AppMusic</title>
</head>
<body>
    <h3><center> App de musica</center></h3>
    <h3> Se creo un template!</h3>
    <h2> La fecha es: {{fecha}}</h2>
    <br>
    <br>
    <h3>{{lenguajes}}</h3>
    {% for i in lenguajes %}
    <ul>
        <li> {{i}} </li>
    </ul>
    {% endfor %}

    <h2> Condiciones por jinja</h2>
    {% if "fewfew" in lenguajes %}
    <h3> Lenguaje existe en en la lista</h3>
    {% else %}
    <h3> no existe</h3>
    {% endif %}
</body>
</html>